.navigation {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  position: sticky;
  align-items: center;
}
.navigation_small {
  width: 100%;
  min-height: 10vh;
  display: none;
  position: sticky;
  align-items: center;
}

.navigation_menu {
  transition: all 0.3s ease-in-out;
  padding: 5px;
  border: 3px solid rgba(128, 128, 128, 0.562);
  border-radius: 5px;
}

.navigation_menu:hover {
  cursor: pointer;
  border-color: rgb(75, 162, 184);
  color: rgb(75, 162, 184);
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: #387883a2;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.link:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.2);
}

.link_menu {
  font-weight: 600;
  color: white;
}

@media (max-width: 700px) {
  .navigation {
    display: none;
  }
  .navigation_small {
    display: flex;
  }
}
